.newsfooter-bg{
    position: absolute;
    top: 1217px;
    width:100%;
    margin: 0 auto;
    height:500px;
    background: url("../images/bg5.jpg")no-repeat center;
}

.news-box{

    position: absolute;
    width:500px;
    top:550px;
    left:570px;
}
.news-box .news-header-right{
    width:950px;
    height:53px;
    background: url("../images/news-header.png")no-repeat left ;
    padding-left:25px;
    line-height: 53px;
    border-bottom: 1px solid gray;
}
.news-box .news-header-right span{
    display: inline-block;
    color:#ae8550;
    width: 108px;
    font-size: 22px;
    font-weight: bold;
}
.news-box ul li a{
    display: inline-block;
    height: 45px;
    width:700px;
    line-height: 45px;
    padding-left:20px;
}
.news-box ul li span{
    display: inline-block;
    height: 45px;
    line-height: 45px;
}
.news-box ul li{
    width:1000px;
    height:45px;
    background: url("../images/news-button.png")no-repeat left;
}
.fengye{
    position: absolute;
    top:1100px;
    left:700px;
    width:450px;
    height:50px;

}
.newss{
    width:1903px;
    margin: 0 auto;
    position: relative;
    top:-1291px;

}
body{
height:1700px;

}
